{% extends "index.html" %}
{% block body %}

<h1>ABOUT Tekminsa</h1>
<p>Tekminsa was created to support students. Many students especially freshers are confused with how to start their respective course. Many students are unable to find a official platform to discuss their doubts with professors/trainers. Even though colleges/universities appointed respective technical club team, but most of the students fail to interact with them. And to sort these problems, Tekminsa project was initialized.</p>
<h2>Who are we?</h2>
<p>Tekminsa was a project initiated by students of Indian Institute Of Information Kalyani(IIIT Kalyani), which is one of the prestigious engineering institutes of India.</p>
<h3>Vision</h3>
<p>Create interaction between students of different colleges, professors, and technical club team of their respective college.</p>
{% endblock body %}