<form method="post">
    {% csrf_token %}
    {{ comment_form.as_p }}
    {% if request.user.is authenticated %}
        <input type="submit" value="submit" class="btn btn-outline-success">
    {% else %}
        <input type="submit" value="submit" class="btn btn-outline-success" disabled>
    {% endif %}
</form>

<div class="main-comment-section">
    {{ comments.count }} Comment{{ comments|pluralize }}
    {% for comment in comments %}
    <blockquote class="blockquote">
  <p class="mb-0">{{ comment.content }}</p>
  <footer class="blockquote-footer">by<cite title="Source Title">{{ comment.user|capfirst }}</cite></footer>
</blockquote>
    {% endif %}
</div>