{% extends "index.html" %}
{% block body %}
<h1>OUR TEAM</h1>
<h4>Mukesh Namballa</h4>
<a href="https://github.com/namballa-mukesh">github</a>
<h6>Gmail : namballa.mukesh12345@gmail.com</h6>
<h4>Rahul Mood Naik</h4>
<a href="#">github</a>
<h6>Gmail : rahulmood_bt18@iiitkalyani.ac.in</h6>
<h4>Dinesh Thumma</h4>
<a href="#">github</a>
<h6>Gmail : dineshthumma117@gmail.com</h6>
<h4>Manike Kargil</h4>
<a href="#">github</a>
<h6>Gmail : manikekargil12345@gmail.com</h6>
{% endblock body %}