{% extends "index.html" %}
{% block body %}
<h1>Your Privacy Matters</h1>
<p>Tekminsa’s mission is to connect the world’s professionals to allow them to be more productive and successful. Central to this mission is our commitment to be transparent about the data we collect about you, how it is used and with whom it is shared.

This Privacy Policy applies when you use our Services (described below). We offer our users choices about the data we collect, use and share as described in this Privacy Policy, Cookie Policy, Settings and our Help Center.</p>
<h2>Introduction</h2>
<p>Our registered users (“Members”) share their professional identities, engage with their network, exchange knowledge and professional insights, post and view relevant content, learn and find business and career opportunities. Content and data on some of our Services is viewable to non-members (“Visitors”).</p>
<h3>Services</h3>
<p>This Privacy Policy applies to Tekminsa.com, Tekminsa-branded apps, Slideshare, Tekminsa Learning and other Tekminsa-related sites, apps, communications and services (“Services”), including off-site Services, such as our ad services and the “Apply with Tekminsa” and “Share with Tekminsa” plugins, but excluding services that state that they are offered under a different privacy policy.</p>
{% endblock body %}